<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:include="/_template/head :: head"></head>
<body>
<div th:include="/_template/barra_gov :: barragov"></div>
<div th:include="/_template/menu :: menu"></div>

<div class="container panel">
    <!-- CONTENT -->
    <div class="row">
        <div class="col-md-12 widget">

            <div class="panel-heading">
                <p><strong>Cadastrar de Perfl</strong> <br><i class="fas fa-home green"></i> <a th:href="@{/ModeloDocumento/list}">ModeloDocumento</a> > <a th:href="@{/ModeloDocumento/add}">Cadastrar</a></p>
            </div>
            <div class="panel-body">
                <form class="form-horizontal" th:object="${modeloDocumento}" th:action="@{/ModeloDocumento/save}" method="POST" style="margin: 10px">
                    <div class="form-group">
                        <fieldset>
                            <div class="form-group row">
                                <div class="alert alert-danger" th:if="${#fields.hasAnyErrors()}">
                                    <div th:each="detailedError : ${#fields.detailedErrors()}">
                                        <span th:text="${detailedError.message}"></span>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="col-md-1">
                                    <input type="text" class="form-control input-sm" id="id" th:field="*{id}" readOnly="readonly" hidden=""/>
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="col-md-4" th:classappend="${#fields.hasErrors('titulo')}? 'has-error'">
                                    <label>Título</label>
                                    <input type="text" class="form-control input-sm" th:field="*{titulo}" autofocus="autofocus" placeholder="Informe o titulo" maxlength="300"/>
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="col-md-4" th:classappend="${#fields.hasErrors('conteudo')}? 'has-error'">
                                    <label>Conteúdo</label>
                                    <textarea type="text" id="txtEditor" class="form-control input-sm" th:field="*{conteudo}" autofocus="autofocus" placeholder="Informe o conteúdo" maxlength="9999999"/>
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="col-md-4" th:classappend="${#fields.hasErrors('instrucoes')}? 'has-error'">
                                    <label>Instruções de Preenchimento</label>
                                    <textarea type="text" class="form-control input-sm" th:field="*{instrucoes}" autofocus="autofocus" placeholder="Informe as instruções de preenchimento" maxlength="600"/>
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="col-md-4" th:classappend="${#fields.hasErrors('valAdmPublicaFederal')}? 'has-error'">
                                    <label>Validade para Órgãos da Administração Pública Federal(meses)</label>
                                    <input type="text" class="form-control input-sm" th:field="*{valAdmPublicaFederal}" autofocus="autofocus" placeholder="Informe a validade em meses" maxlength="3"/>
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="col-md-4" th:classappend="${#fields.hasErrors('valDemaisEntidades')}? 'has-error'">
                                    <label>Validade para Demais entidades(meses)</label>
                                    <input type="text" class="form-control input-sm" th:field="*{valDemaisEntidades}" autofocus="autofocus" placeholder="Informe a validade em meses" maxlength="3"/>
                                </div>
                            </div>
                        </fieldset>
                    </div>
                    <div class="form-group row">
                        <button type="submit" class="btn btn-sm btn-info">Salvar</button>
                        <a th:href="@{/ModeloDocumento/list}" class="btn btn-sm btn-default">Cancelar</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <!-- /CONTENT -->
</div>

<div th:include="/_template/footer :: footer"></div>
</body>
</html>