<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:include="/_template/head :: head"></head>
<body>
<div th:include="/_template/barra_gov :: barragov"></div>
<div th:include="/_template/menu :: menu"></div>

<div class="container panel">
    <!-- CONTENT -->
    <div class="row">
        <div class="col-md-12 widget">
            <div class="panel-heading">
                <p><strong>Listar Modelo Documentos</strong><br> <i class="fas fa-home green"></i> <a th:href="@{/ModeloDocumento/list}">ModeloDocumento</a></p>

            </div>
            <div class="panel-body">
                <div class="table-responsive">

                    <table class="table table-sm table-striped table-hover table-bordered">
                        <thead>
                        <tr>
                            <th>ID</th>
                            <th>Título</th>
                            <th>Instruções</th>
                            <th>Opções</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="modeloDocumento : ${modeloDocumentos}">
                            <td th:text="${modeloDocumento.id}"></td>
                            <td th:text="${modeloDocumento.titulo}"></td>
                            <td th:text="${modeloDocumento.instrucoes}"></td>
                            <td>
                                <div class="btn-group pull-right">
                                    <a class="btn btn-info btn-sm" th:href="@{/ModeloDocumento/show/{id}(id=${modeloDocumento.id})}"  th:title="${'visualizar modeloDocumento '+modeloDocumento.nome}" th:data-message="${'visualizar modeloDocumento '+modeloDocumento.nome}"><i class="fas fa-search" ></i></a>
                                    <a class="btn btn-sm btn-info" th:href="@{/ModeloDocumento/edit/{id}(id=${modeloDocumento.id})}"  th:title="${'editar modeloDocumento '+modeloDocumento.nome}" th:data-message="${'editar modeloDocumento '+modeloDocumento.nome}"><i class="fas fa-edit" ></i></a>
                                    <a class="delete btn btn-sm btn-info" th:href="@{/ModeloDocumento/delete/{id}(id=${modeloDocumento.id})}" th:title="${'excluir modeloDocumento '+modeloDocumento.nome}" th:data-message="${'excluir modeloDocumento '+modeloDocumento.nome}"><i class="fas fa-trash" ></i></a>
                                </div>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="panel-footer">
                <a class="btn btn-sm btn-info" th:href="@{/ModeloDocumento/add}">Adicionar</a>
            </div>
        </div>
    </div>
    <!-- /CONTENT -->
</div>

<div th:include="/_template/footer :: footer"></div>
</body>
</html>
