<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:include="/_template/head :: head"></head>
<body>
<div th:include="/_template/barra_gov :: barragov"></div>
<div th:include="/_template/menu :: menu"></div>

<div class="container panel">
    <!-- CONTENT -->
    <div class="row">
        <div class="col-md-12 widget">

            <div class="panel-heading">
                <p><strong>Visualizar Entidade</strong> <br><i class="fas fa-home green"></i> <a th:href="@{/Entidade/list}">Entidade</a> > <a th:href="@{/Entidade/show}">Visualizar</a></p>

            </div>
            <div class="panel-body">
                <form class="form-horizontal" th:object="${entidade}" th:action="@{/Entidade/save}" method="POST" style="margin: 10px">
                    <div class="form-group">
                        <fieldset>
                            <div class="form-group row">
                                <div class="col-md-12" th:classappend="${#fields.hasErrors('nome')}? 'has-error'">
                                    <label>Nome</label>
                                    <input type="text" class="form-control input-sm" readOnly="readonly" th:field="*{nome}" autofocus="autofocus" placeholder="Informe o nome" maxlength="250"/>
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="col-md-12" th:classappend="${#fields.hasErrors('razaoSocial')}? 'has-error'">
                                    <label>razaoSocial</label>
                                    <input type="text" class="form-control input-sm" readOnly="readonly" th:field="*{razaoSocial}" autofocus="autofocus" placeholder="Informe o razaoSocial" maxlenght="250"/>
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="col-md-12" th:classappend="${#fields.hasErrors('cnpj')}? 'has-error'">
                                    <label>cnpj</label>
                                    <input type="text" class="form-control input-sm" readOnly="readonly" th:field="*{cnpj}" autofocus="autofocus" placeholder="Informe o cnpj" maxlenght="250"/>
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="col-md-12" th:classappend="${#fields.hasErrors('inscricaoEstadual')}? 'has-error'">
                                    <label>inscricaoEstadual</label>
                                    <input type="text" class="form-control input-sm" readOnly="readonly" th:field="*{inscricaoEstadual}" autofocus="autofocus" placeholder="Informe o inscricaoEstadual" maxlenght="250"/>
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="col-md-12" th:classappend="${#fields.hasErrors('ramoAtividade')}? 'has-error'">
                                    <label>ramoAtividade</label>
                                    <input type="text" class="form-control input-sm" readOnly="readonly" th:field="*{ramoAtividade}" autofocus="autofocus" placeholder="Informe o ramoAtividade" maxlenght="250"/>
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="col-md-12" th:classappend="${#fields.hasErrors('endereço')}? 'has-error'">
                                    <label>endereço</label>
                                    <input type="text" class="form-control input-sm" readOnly="readonly" th:field="*{endereço}" autofocus="autofocus" placeholder="Informe o endereço" maxlenght="250"/>
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="col-md-12" th:classappend="${#fields.hasErrors('bairro')}? 'has-error'">
                                    <label>bairro</label>
                                    <input type="text" class="form-control input-sm" readOnly="readonly" th:field="*{bairro}" autofocus="autofocus" placeholder="Informe o bairro" maxlenght="250"/>
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="col-md-12" th:classappend="${#fields.hasErrors('cidade')}? 'has-error'">
                                    <label>cidade</label>
                                    <input type="text" class="form-control input-sm" readOnly="readonly" th:field="*{cidade}" autofocus="autofocus" placeholder="Informe o cidade" maxlenght="250"/>
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="col-md-12" th:classappend="${#fields.hasErrors('estado')}? 'has-error'">
                                    <label>estado</label>
                                    <input type="text" class="form-control input-sm" readOnly="readonly" th:field="*{estado}" autofocus="autofocus" placeholder="Informe o estado" maxlenght="250"/>
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="col-md-12" th:classappend="${#fields.hasErrors('cep')}? 'has-error'">
                                    <label>cep</label>
                                    <input type="text" class="form-control input-sm" readOnly="readonly" th:field="*{cep}" autofocus="autofocus" placeholder="Informe o cep" maxlenght="250"/>
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="col-md-12" th:classappend="${#fields.hasErrors('email')}? 'has-error'">
                                    <label>email</label>
                                    <input type="text" class="form-control input-sm" readOnly="readonly" th:field="*{email}" autofocus="autofocus" placeholder="Informe o email" maxlenght="250"/>
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="col-md-12" th:classappend="${#fields.hasErrors('telefone')}? 'has-error'">
                                    <label>telefone</label>
                                    <input type="text" class="form-control input-sm" readOnly="readonly" th:field="*{telefone}" autofocus="autofocus" placeholder="Informe o telefone" maxlenght="250"/>
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="col-md-12" th:classappend="${#fields.hasErrors('representanteLegal')}? 'has-error'">
                                    <label>representanteLegal</label>
                                    <input type="text" class="form-control input-sm" readOnly="readonly" th:field="*{representanteLegal}" autofocus="autofocus" placeholder="Informe o representanteLegal" maxlenght="250"/>
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="col-md-12" th:classappend="${#fields.hasErrors('representanteCargo')}? 'has-error'">
                                    <label>representanteCargo</label>
                                    <input type="text" class="form-control input-sm" readOnly="readonly" th:field="*{representanteCargo}" autofocus="autofocus" placeholder="Informe o representanteCargo" maxlenght="250"/>
                                </div>
                            </div>

                            <div class="form-group row">
                                <div class="col-md-12" th:classappend="${#fields.hasErrors('bolAdmPublica')}? 'has-error'">
                                    <label>Administração Publica</label>
                                    <input type="text" class="form-control input-sm" readOnly="readonly" th:field="*{bolAdmPublica}" autofocus="autofocus" placeholder="Informe o representanteCargo" maxlenght="250"/>
                                </div>
                            </div>

                            <div class="form-group row">
                                <div class="col-md-4" th:classappend="${#fields.hasErrors('tiposEntidade')}? 'has-error'">
                                    <label>TipoEntidade</label>
                                    <select class="form-control" id="tiposEntidade" name="tiposEntidade" multiple="multiple" readOnly="readonly">
                                        <option th:each="tipoEntidade : ${entidade.tiposEntidade}"
                                                th:selected="${tipoEntidade.id}"
                                                th:value="${tipoEntidade.id}"
                                                th:text="${tipoEntidade.nome}">Part name</option>
                                    </select>
                                </div>
                            </div>

                            <div class="form-group row">
                                <div class="col-md-12" th:classappend="${#fields.hasErrors('campi')}? 'has-error'">
                                    <label>Campus</label>
                                    <select class="form-control" id="campi" name="campi" multiple="multiple" readOnly="readonly">
                                        <option th:each="campus : ${entidade.campi}"
                                                th:selected="${campus.id}"
                                                th:value="${campus.id}"
                                                th:text="${campus.nome}">Part name</option>
                                    </select>
                                </div>
                            </div>

                            <div class="form-group row">
                                <div class="col-md-12" th:classappend="${#fields.hasErrors('setores')}? 'has-error'">
                                    <label>Setor</label>
                                    <select class="form-control" id="setores" name="setores" multiple="multiple" readOnly="readonly">
                                        <option th:each="setor : ${entidade.setores}"
                                                th:selected="${setor.id}"
                                                th:value="${setor.id}"
                                                th:text="${setor.nome}">Part name</option>
                                    </select>
                                </div>
                            </div>
                            <!--

                             <div class="form-group row">
                                <div class="col-md-12" th:classappend="${#fields.hasErrors('departamentos')}? 'has-error'">
                                    <label>Departamento</label>
                                    <select class="form-control" id="departamentos" name="departamentos" multiple="multiple" readOnly="readonly">
                                        <option th:each="departamento : ${entidade.departamentos}"
                                                th:selected="${departamento.id}"
                                                th:value="${departamento.id}"
                                                th:text="${departamento.nome}">Part name</option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="col-md-4" th:classappend="${#fields.hasErrors('tiposEntidade')}? 'has-error'">
                                    <label>TipoEntidade</label>
                                    <select class="form-control" id="tiposEntidade" name="tiposEntidade" multiple="multiple" readOnly="readonly">
                                        <option th:each="tipoEntidade : ${entidade.tiposEntidade}"
                                                th:selected="${tipoEntidade.id}"
                                                th:value="${tipoEntidade.id}"
                                                th:text="${tipoEntidade.nome}">Part name</option>
                                    </select>
                                </div>
                            </div>

                            <div class="form-group row">
                                <div class="col-md-4" th:classappend="${#fields.hasErrors('cursos')}? 'has-error'">
                                    <label>Curso</label>
                                    <select class="form-control" id="cursos" name="cursos" multiple="multiple" readOnly="readonly">
                                        <option th:each="curso : ${entidade.cursos}"
                                                th:selected="${curso.id}"
                                                th:value="${curso.id}"
                                                th:text="${curso.nome}">Part name</option>
                                    </select>
                                </div>
                            </div>
                            -->

                        </fieldset>
                    </div>
                    <div class="form-group row">
                        <a th:href="@{/Entidade/list}" class="btn btn-sm btn-info">Retornar</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <!-- /CONTENT -->
</div>

<div th:include="/_template/footer :: footer"></div>
</body>
</html>
