<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:include="/_template/head :: head"></head>
<body>
<div th:include="/_template/barra_gov :: barragov"></div>
<div th:include="/_template/menu :: menu"></div>

<div class="container panel">
    <!-- CONTENT -->
    <div class="row">
        <div class="col-md-12 widget">

            <div class="panel-heading">
                <p><strong>Cadastrar de Perfl</strong> <br><i class="fas fa-home green"></i> <a th:href="@{/Usuario/list}">Usuario</a> > <a th:href="@{/Usuario/add}">Cadastrar</a></p>
            </div>
            <div class="panel-body">
                <form class="form-horizontal" th:object="${usuario}" th:action="@{/Usuario/save}" method="POST" style="margin: 10px">
                    <div class="form-group">
                        <fieldset>
                            <div class="form-group row">
                                <div class="alert alert-danger" th:if="${#fields.hasAnyErrors()}">
                                    <div th:each="detailedError : ${#fields.detailedErrors()}">
                                        <span th:text="${detailedError.message}"></span>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="col-md-12">
                                    <input type="text" class="form-control input-sm" id="id" th:field="*{id}" readOnly="readonly" hidden=""/>
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="col-md-12" th:classappend="${#fields.hasErrors('nome')}? 'has-error'">
                                    <label>Nome</label>
                                    <input type="text" class="form-control input-sm" th:field="*{nome}" autofocus="autofocus" placeholder="Informe o nome" maxlength="50"/>
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="col-md-12" th:classappend="${#fields.hasErrors('matricula')}? 'has-error'">
                                    <label>matricula</label>
                                    <input type="text" class="form-control input-sm" th:field="*{matricula}" autofocus="autofocus" placeholder="Informe a matricula" maxlength="50"/>
                                </div>
                            </div>

                            <div class="form-group row">
                                <div class="col-md-12" th:classappend="${#fields.hasErrors('email')}? 'has-error'">
                                    <label>email</label>
                                    <input type="text" class="form-control input-sm" th:field="*{email}" autofocus="autofocus" placeholder="Informe a matricula" maxlength="50"/>
                                </div>
                            </div>

                            <div class="form-group row">
                                <div class="col-md-12" th:classappend="${#fields.hasErrors('senha')}? 'has-error'">
                                    <label>senha</label>
                                    <input type="text" class="form-control input-sm" th:field="*{senha}" autofocus="autofocus" placeholder="Informe a matricula" maxlength="50"/>
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="col-md-12" th:classappend="${#fields.hasErrors('perfis')}? 'has-error'">
                                    <label>Perfil</label>


                                    <select class="form-control" id="perfis" name="perfis" multiple="multiple">
                                        <option th:each="perfil : ${perfis}"
                                                th:selected="${usuario.perfis.contains(perfil)}"
                                                 th:value="${{perfil.id}}"
                                                th:text="${perfil.nome}">Part name</option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="col-md-4" th:classappend="${#fields.hasErrors('cursos')}? 'has-error'">
                                    <label>Cursos</label>
                                    <select class="form-control" id="cursos" name="cursos">
                                        <option th:each="curso : ${cursos}"
                                                th:selected="${usuario.cursos.contains(curso)}"
                                                th:value="${{curso.id}}"
                                                th:text="${curso.nome}">Part name</option>
                                    </select>
                                </div>
                            </div>

                            <div class="form-group row">
                                <div class="col-md-4" th:classappend="${#fields.hasErrors('setores')}? 'has-error'">
                                    <label>Setor</label>
                                    <select class="form-control" id="setores" name="setores">
                                        <option th:each="setor : ${setores}"
                                                th:selected="${usuario.setores.contains(setor)}"
                                                th:value="${{setor.id}}"
                                                th:text="${setor.nome}">Part name</option>
                                    </select>
                                </div>
                            </div>


                        </fieldset>
                    </div>
                    <div class="form-group row">
                        <button type="submit" class="btn btn-sm btn-info">Salvar</button>
                        <a th:href="@{/Usuario/list}" class="btn btn-sm btn-default">Cancelar</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <!-- /CONTENT -->
</div>

<div th:include="/_template/footer :: footer"></div>
</body>
</html>