<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:include="/_template/head :: head"></head>
<body>
<div th:include="/_template/barra_gov :: barragov"></div>
<div th:include="/_template/menu :: menu"></div>

<div class="container panel">
    <!-- CONTENT -->
    <div class="row">
        <div class="col-md-12 widget">
            <div class="panel-heading">
                <p><strong>Listar Usuários (<span th:text="${#lists.size(usuarios)}"></span>) </strong><br> <i class="fas fa-home blue"></i> <a th:href="@{/Usuario/list}">Usuario</a>
                </p>

            </div>
            <div class="panel-body">
                <div class="table-responsive">
                    <!--PAGINAÇÃO -->
                    <div class="row">
                        <div class="col-md-auto">
                            <form class="form-inline">
                                <div class="form-group">
                                    <span class="searchBar"></span>
                                </div>
                                <a class="btn btn-info pull-right" style="margin-bottom: 10px" th:href="@{/Usuario/add}"><i class="fas fa-user"></i> Cadastrar Novo</a>
                            </form>
                        </div>
                    </div>
                    <table class="table table-sm table-striped table-hover table-bordered sieve">
                        <thead>
                        <tr>
                            <th>Matricula</th>
                            <th>Nome</th>
                            <th>Curso</th>
                            <th>Perfil</th>
                            <th>Ações</th>
                        </tr>
                        </thead>
                        <tbody id="itemContainer">


                        <tr th:each="usuario : ${usuarios}">

                            <td th:text="${usuario.matricula}"></td>
                            <td th:text="${usuario.nome}"></td>
                            <td><p th:each="curso : ${usuario.cursos}" th:text="${curso.nome}"></p></td>
                            <td><p th:each="perfil : ${usuario.perfis}" th:text="${perfil.nome}"></p></td>

                            <td>
                                <div class="btn-group pull-right">
                                    <a class="btn btn-info btn-sm" th:href="@{/Usuario/show/{id}(id=${usuario.id})}"  th:title="${'visualizar usuario '+usuario.nome}" th:data-message="${'visualizar usuario '+usuario.nome}"><i class="fas fa-search" ></i></a>
                                    <a class="btn btn-sm btn-info" th:href="@{/Usuario/edit/{id}(id=${usuario.id})}"  th:title="${'editar usuario '+usuario.nome}" th:data-message="${'editar usuario '+usuario.nome}"><i class="fas fa-edit"></i></a>
                                    <a class="delete btn btn-sm btn-info" th:href="@{/Usuario/delete/{id}(id=${usuario.id})}" th:title="${'excluir usuario '+usuario.nome}" th:data-message="${'excluir usuario '+usuario.nome}"><i class="fas fa-trash"></i></a>
                                </div>
                            </td>

                        </tr>

                        </tbody>
                    </table>
                    <!--PAGINAÇÃO -->
                    <div class="row">

                        <div class="col-md-auto">
                            <div class="holder form-control"></div>
                        </div>
                        <div class="col-md-auto">
                            <form class="form-inline">
                                <div class="form-group">
                                    <label for="itensPorPagina">Itens por Página: </label>
                                    <select class="form-control" id="itensPorPagina">

                                        <th:block th:each="i: ${#numbers.sequence(1, #lists.size(usuarios))}">
                                            <option th:if="${i <= #lists.size(usuarios) && i%5 ==0}" th:text=${i} ></option>
                                        </th:block>
                                        <option th:value="${#lists.size(usuarios)}">Todos</option>
                                    </select>

                                </div>
                            </form>

                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- /CONTENT -->
</div>

<div th:include="/_template/footer :: footer"></div>
</body>
</html>
