<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:include="/_template/head :: head"></head>
<body>
<div th:include="/_template/barra_gov :: barragov"></div>
<div th:include="/_template/menu :: menu"></div>

<div class="container panel">
    <!-- CONTENT -->
    <div class="row">
        <div class="col-md-12 widget">

            <div class="panel-heading">
                <p><strong>Visualizar de Perfl</strong> <br><i class="fas fa-home green"></i> <a th:href="@{/Usuario/list}">Usuario</a> > <a th:href="@{/Usuario/show}">Visualizar</a></p>

            </div>
            <div class="panel-body">
                <form class="form-horizontal" th:object="${usuario}" th:action="@{/Usuario/save}" method="POST" style="margin: 10px">
                    <div class="form-group">
                        <fieldset>
                            <div class="form-group row">
                                <div class="alert alert-danger" th:if="${#fields.hasAnyErrors()}">
                                    <div th:each="detailedError : ${#fields.detailedErrors()}">
                                        <span th:text="${detailedError.message}"></span>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="col-md-1">
                                    <input type="text" class="form-control input-sm" id="id" readOnly="readonly" th:field="*{id}" />
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="col-md-4" th:classappend="${#fields.hasErrors('nome')}? 'has-error'">
                                    <label>Nome</label>
                                    <input type="text" class="form-control input-sm" readOnly="readonly" th:field="*{nome}" autofocus="autofocus" placeholder="Informe o nome" maxlength="50" />
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="col-md-4" th:classappend="${#fields.hasErrors('matricula')}? 'has-error'">
                                    <label>Matricula</label>
                                    <input type="text" class="form-control input-sm" readOnly="readonly" th:field="*{matricula}" autofocus="autofocus" placeholder="Informe o nome" maxlength="50" />
                                </div>
                            </div>

                            <div class="form-group row">
                                <div class="col-md-12" th:classappend="${#fields.hasErrors('email')}? 'has-error'">
                                    <label>email</label>
                                    <input type="text" class="form-control input-sm" readOnly="readonly" th:field="*{email}" autofocus="autofocus" placeholder="Informe a matricula" maxlength="50"/>
                                </div>
                            </div>

                            <div class="form-group row">
                                <div class="col-md-12" th:classappend="${#fields.hasErrors('senha')}? 'has-error'">
                                    <label>senha</label>
                                    <input type="text" class="form-control input-sm" readOnly="readonly" th:field="*{senha}" autofocus="autofocus" placeholder="Informe a matricula" maxlength="50"/>
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="col-md-4" th:classappend="${#fields.hasErrors('perfis')}? 'has-error'">
                                    <label>Perfil</label>
                                    <select class="form-control" id="perfis" name="perfis" multiple="multiple" readOnly="readonly">
                                        <option th:each="perfil : ${usuario.perfis}"
                                                th:selected="${perfil.id}"
                                                th:value="${perfil.id}"
                                                th:text="${perfil.nome}">Part name</option>
                                    </select>
                                </div>
                            </div>

                            <div class="form-group row">
                                <div class="col-md-4" th:classappend="${#fields.hasErrors('cursos')}? 'has-error'">
                                    <label>Curso</label>
                                    <select class="form-control" id="cursos" name="cursos" multiple="multiple" readOnly="readonly">
                                        <option th:each="curso : ${usuario.cursos}"
                                                th:selected="${curso.id}"
                                                th:value="${curso.id}"
                                                th:text="${curso.nome}">Part name</option>
                                    </select>
                                </div>
                            </div>

                            <div class="form-group row">
                                <div class="col-md-12" th:classappend="${#fields.hasErrors('turmas')}? 'has-error'">
                                    <label>Turma</label>
                                    <select class="form-control" id="turmas" name="turmas" multiple="multiple" readOnly="readonly">
                                        <option th:each="turma : ${usuario.turmas}"
                                                th:selected="${turma.id}"
                                                th:value="${turma.id}"
                                                th:text="${turma.nome} + ' - ' + ${turma.cursos[0].nome}">Part name</option>
                                    </select>
                                </div>
                            </div>

                            <div class="form-group row">
                                <div class="col-md-12" th:classappend="${#fields.hasErrors('setores')}? 'has-error'">
                                    <label>Setor</label>
                                    <select class="form-control" id="setores" name="setores" multiple="multiple" readOnly="readonly">
                                        <option th:each="setor : ${usuario.setores}"
                                                th:selected="${setor.id}"
                                                th:value="${setor.id}"
                                                th:text="${setor.nome}">Part name</option>
                                    </select>
                                </div>
                            </div>


                        </fieldset>
                    </div>
                    <div class="form-group row">
                        <a th:href="@{/Usuario/list}" class="btn btn-sm btn-info">Retornar</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <!-- /CONTENT -->
</div>

<div th:include="/_template/footer :: footer"></div>
</body>
</html>
