<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:include="/_template/head :: head"></head>
<body>
<div th:include="/_template/barra_gov :: barragov"></div>
<div th:include="/_template/menu :: menu"></div>

<div class="container panel">
    <!-- CONTENT -->
    <div class="row">
        <div class="col-md-12 widget">
            <div class="panel-heading">
                <p><strong>Listar Perfis (<span th:text="${#lists.size(permissoes)}"></span>) </strong><br> <i class="fas fa-home blue"></i> <a th:href="@{/Permissao/list}">Permissao</a>
            </div>
            <div class="panel-body">
                <div class="table-responsive">
                    <!--PAGINAÇÃO -->
                    <div class="row">
                        <div class="col-md-auto">
                            <form class="form-inline">
                                <div class="form-group">
                                    <span class="searchBar"></span>
                                </div>
                                <a class="btn btn-info pull-right" style="margin-bottom: 10px" th:href="@{/Permissao/add}"><i class="fas fa-address-card"></i> Cadastrar Permissao</a>
                            </form>
                        </div>
                    </div>
                    <table class="table table-sm table-striped table-hover table-bordered sieve">
                        <thead>
                        <tr>
                            <th>ID</th>
                            <th>Nome</th>
                            <th>Opções</th>
                        </tr>
                        </thead>
                        <tbody id="itemContainer">
                        <tr th:each="permissao : ${permissoes}">
                            <td th:text="${permissao.id}"></td>
                            <td th:text="${permissao.nome}"></td>
                            <td>
                                <div class="btn-group pull-right">
                                    <a class="btn btn-info btn-sm" th:href="@{/Permissao/show/{id}(id=${permissao.id})}"  th:title="${'visualizar permissao '+permissao.nome}" th:data-message="${'visualizar permissao '+permissao.nome}"><i class="fas fa-search" ></i></a>
                                    <a class="btn btn-sm btn-info" th:href="@{/Permissao/edit/{id}(id=${permissao.id})}"  th:title="${'editar permissao '+permissao.nome}" th:data-message="${'editar permissao '+permissao.nome}"><i class="fas fa-edit" ></i></a>
                                    <a class="delete btn btn-sm btn-info" th:href="@{/Permissao/delete/{id}(id=${permissao.id})}" th:title="${'excluir permissao '+permissao.nome}" th:data-message="${'excluir permissao '+permissao.nome}"><i class="fas fa-trash" ></i></a>
                                </div>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                    <!--PAGINAÇÃO -->
                    <div class="row">
                        <div class="col-md-auto">
                            <div class="holder form-control"></div>
                        </div>
                        <div class="col-md-auto">
                            <form class="form-inline">
                                <div class="form-group">
                                    <label for="itensPorPagina">Itens por Página: </label>
                                    <select class="form-control" id="itensPorPagina">

                                        <th:block th:each="i: ${#numbers.sequence(1, #lists.size(permissoes))}">
                                            <option th:if="${i <= #lists.size(permissoes) && i%5 ==0}" th:text=${i} ></option>
                                        </th:block>
                                        <option th:value="${#lists.size(permissoes)}">Todos</option>
                                    </select>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <!-- /CONTENT -->
</div>

<div th:include="/_template/footer :: footer"></div>
</body>
</html>
