<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:include="/_template/head :: head"></head>
<body>
<div th:include="/_template/barra_gov :: barragov"></div>
<div th:include="/_template/menu :: menu"></div>

<div class="container panel">
    <!-- CONTENT -->
    <div class="row">
        <div class="col-md-12 widget">

            <div class="panel-heading">
                <p><strong>Visualizar de Perfl</strong> <br><i class="fas fa-home green"></i> <a th:href="@{/Campus/list}">Campus</a> > <a th:href="@{/Campus/show}">Visualizar</a></p>

            </div>
            <div class="panel-body">
                <form class="form-horizontal" th:object="${campus}" th:action="@{/Campus/save}" method="POST" style="margin: 10px">
                    <div class="form-group">
                        <fieldset>
                            <div class="form-group row">
                                <div class="alert alert-danger" th:if="${#fields.hasAnyErrors()}">
                                    <div th:each="detailedError : ${#fields.detailedErrors()}">
                                        <span th:text="${detailedError.message}"></span>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="col-md-1">
                                    <input type="text" class="form-control input-sm" id="id" th:field="*{id}" readOnly="readonly"/>
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="col-md-4" th:classappend="${#fields.hasErrors('nome')}? 'has-error'">
                                    <label>Nome</label>
                                    <input type="text" class="form-control input-sm" readOnly="readonly" th:field="*{nome}" autofocus="autofocus" placeholder="Informe o nome" maxlength="50"/>
                                </div>
                            </div>

                            <div class="form-group row">
                                <div class="col-md-12" th:classappend="${#fields.hasErrors('endereço')}? 'has-error'">
                                    <label>endereço</label>
                                    <input type="text" class="form-control input-sm" readOnly="readonly" th:field="*{endereço}" autofocus="autofocus" placeholder="Informe o endereço" maxlenght="250"/>
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="col-md-12" th:classappend="${#fields.hasErrors('bairro')}? 'has-error'">
                                    <label>bairro</label>
                                    <input type="text" class="form-control input-sm" readOnly="readonly" th:field="*{bairro}" autofocus="autofocus" placeholder="Informe o bairro" maxlenght="250"/>
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="col-md-12" th:classappend="${#fields.hasErrors('cidade')}? 'has-error'">
                                    <label>cidade</label>
                                    <input type="text" class="form-control input-sm" readOnly="readonly" th:field="*{cidade}" autofocus="autofocus" placeholder="Informe o cidade" maxlenght="250"/>
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="col-md-12" th:classappend="${#fields.hasErrors('estado')}? 'has-error'">
                                    <label>estado</label>
                                    <input type="text" class="form-control input-sm" readOnly="readonly" th:field="*{estado}" autofocus="autofocus" placeholder="Informe o estado" maxlenght="250"/>
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="col-md-12" th:classappend="${#fields.hasErrors('cep')}? 'has-error'">
                                    <label>cep</label>
                                    <input type="text" class="form-control input-sm" readOnly="readonly" th:field="*{cep}" autofocus="autofocus" placeholder="Informe o cep" maxlenght="250"/>
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="col-md-12" th:classappend="${#fields.hasErrors('email')}? 'has-error'">
                                    <label>email</label>
                                    <input type="text" class="form-control input-sm" readOnly="readonly" th:field="*{email}" autofocus="autofocus" placeholder="Informe o email" maxlenght="250"/>
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="col-md-12" th:classappend="${#fields.hasErrors('telefone')}? 'has-error'">
                                    <label>telefone</label>
                                    <input type="text" class="form-control input-sm" readOnly="readonly" th:field="*{telefone}" autofocus="autofocus" placeholder="Informe o telefone" maxlenght="250"/>
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="col-md-12" th:classappend="${#fields.hasErrors('representanteLegal')}? 'has-error'">
                                    <label>representanteLegal</label>
                                    <input type="text" class="form-control input-sm" readOnly="readonly" th:field="*{representanteLegal}" autofocus="autofocus" placeholder="Informe o representanteLegal" maxlenght="250"/>
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="col-md-12" th:classappend="${#fields.hasErrors('representanteCargo')}? 'has-error'">
                                    <label>representanteCargo</label>
                                    <input type="text" class="form-control input-sm" readOnly="readonly" th:field="*{representanteCargo}" autofocus="autofocus" placeholder="Informe o representanteCargo" maxlenght="250"/>
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="col-md-12" th:classappend="${#fields.hasErrors('entidades')}? 'has-error'">
                                    <label>Entidade</label>
                                    <select class="form-control" id="entidades" name="entidades" multiple="multiple" readOnly="readonly">
                                        <option th:each="entidade : ${campus.entidades}"
                                                th:selected="${entidade.id}"
                                                th:value="${entidade.id}"
                                                th:text="${entidade.nome}">Part name</option>
                                    </select>
                                </div>
                            </div>

                            <div class="form-group row">
                                <div class="col-md-12" th:classappend="${#fields.hasErrors('setores')}? 'has-error'">
                                    <label>Setores</label>
                                    <select class="form-control" id="setores" name="setores" multiple="multiple" readOnly="readonly">
                                        <option th:each="setor : ${campus.setores}"
                                                th:selected="${setor.id}"
                                                th:value="${setor.id}"
                                                th:text="${setor.nome}">Part name</option>
                                    </select>
                                </div>
                            </div>

                            <div class="form-group row">
                                <div class="col-md-12" th:classappend="${#fields.hasErrors('cursos')}? 'has-error'">
                                    <label>Cursos</label>
                                    <select class="form-control" id="cursos" name="cursos" multiple="multiple" readOnly="readonly">
                                        <option th:each="curso : ${campus.cursos}"
                                                th:selected="${curso.id}"
                                                th:value="${curso.id}"
                                                th:text="${curso.nome}">Part name</option>
                                    </select>
                                </div>
                            </div>







                        </fieldset>
                    </div>
                    <div class="form-group row">
                        <a th:href="@{/Campus/list}" class="btn btn-sm btn-info">Retornar</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <!-- /CONTENT -->
</div>

<div th:include="/_template/footer :: footer"></div>
</body>
</html>
