<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:include="/_template/head :: head"></head>
<body>
<div th:include="/_template/barra_gov :: barragov"></div>
<div th:include="/_template/menu :: menu"></div>

<div class="container panel">
    <!-- CONTENT -->
    <div class="row">
        <div class="col-md-12 widget">
            <div class="panel-heading">
                <p><strong>Listar Usuários</strong><br> <i class="fas fa-home green"></i> <a th:href="@{/PlanoEstagio/list}">PlanoEstagio</a></p>

            </div>
            <div class="panel-body">
                <div class="table-responsive">
                    <table class="table table-sm table-striped table-hover table-bordered">
                        <thead>
                        <tr>
                            <th>ID</th>
                            <th>Nome</th>
                            <th>Matricula</th>
                            <th>AtividadeEstagio</th>
                            <th>Ações</th>
                        </tr>
                        </thead>
                        <tbody>

                        <tr th:each="planoEstagio : ${planoEstagios}">
                            <td th:text="${planoEstagio.id}"></td>
                            <td th:text="${planoEstagio.nome}"></td>
                            <td th:text="${planoEstagio.matricula}"></td>
                            <td><p th:each="atividadeEstagio : ${planoEstagio.atividadesEstagio}" th:text="${atividadeEstagio.nome}" ></p></td>
                            <td><p th:each="usuario : ${planoEstagio.usuarios}" th:text="${usuario.nome}" ></p></td>

                            <td>
                                <div class="btn-group pull-right">
                                    <a class="btn btn-info btn-sm" th:href="@{/PlanoEstagio/show/{id}(id=${planoEstagio.id})}"  th:title="${'visualizar planoEstagio '+planoEstagio.nome}" th:data-message="${'visualizar planoEstagio '+planoEstagio.nome}"><i class="fas fa-search" ></i></a>
                                    <a class="btn btn-sm btn-info" th:href="@{/PlanoEstagio/edit/{id}(id=${planoEstagio.id})}"  th:title="${'editar planoEstagio '+planoEstagio.nome}" th:data-message="${'editar planoEstagio '+planoEstagio.nome}"><i class="fas fa-edit" ></i></a>
                                    <a class="delete btn btn-sm btn-info" th:href="@{/PlanoEstagio/delete/{id}(id=${planoEstagio.id})}" th:title="${'excluir planoEstagio '+planoEstagio.nome}" th:data-message="${'excluir planoEstagio '+planoEstagio.nome}"><i class="fas fa-trash" ></i></a>
                                </div>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="panel-footer">
                <a class="btn btn-sm btn-info" th:href="@{/PlanoEstagio/add}">Adicionar</a>
            </div>
        </div>
    </div>
    <!-- /CONTENT -->
</div>

<div th:include="/_template/footer :: footer"></div>
</body>
</html>
