<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:include="/_template/head :: head"></head>
<body>
<div th:include="/_template/barra_gov :: barragov"></div>
<div th:include="/_template/menu :: menu"></div>

<div class="container panel">
    <!-- CONTENT -->
    <div class="row">
        <div class="col-md-12 widget">

            <div class="panel-heading">
                <p><i class="fas fa-home blue"></i> <a th:href="@{/Curso/list}">Curso</a> > <a th:href="@{/Curso/add}">Cadastrar</a></p>
            </div>
            <div class="panel-body">
                <form class="form-horizontal" th:object="${curso}" th:action="@{/Curso/save}" method="POST" style="margin: 10px">
                    <div class="form-group">
                        <fieldset>
                            <div class="form-group row">
                                <div class="alert alert-danger" th:if="${#fields.hasAnyErrors()}">
                                    <div th:each="detailedError : ${#fields.detailedErrors()}">
                                        <span th:text="${detailedError.message}"></span>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="col-md-12">
                                    <input type="text" class="form-control input-sm" id="id" th:field="*{id}" readOnly="readonly" hidden=""/>
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="col-md-12" th:classappend="${#fields.hasErrors('nome')}? 'has-error'">
                                    <label>Nome</label>
                                    <input type="text" class="form-control input-sm" th:field="*{nome}" autofocus="autofocus" placeholder="Informe o nome" maxlength="250"/>
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="col-md-12" th:classappend="${#fields.hasErrors('endereço')}? 'has-error'">
                                    <label>endereço</label>
                                    <input type="text" class="form-control input-sm" th:field="*{endereço}" autofocus="autofocus" placeholder="Informe o endereço" maxlenght="250"/>
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="col-md-12" th:classappend="${#fields.hasErrors('bairro')}? 'has-error'">
                                    <label>bairro</label>
                                    <input type="text" class="form-control input-sm" th:field="*{bairro}" autofocus="autofocus" placeholder="Informe o bairro" maxlenght="250"/>
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="col-md-12" th:classappend="${#fields.hasErrors('cidade')}? 'has-error'">
                                    <label>cidade</label>
                                    <input type="text" class="form-control input-sm" th:field="*{cidade}" autofocus="autofocus" placeholder="Informe o cidade" maxlenght="250"/>
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="col-md-12" th:classappend="${#fields.hasErrors('estado')}? 'has-error'">
                                    <label>estado</label>
                                    <input type="text" class="form-control input-sm" th:field="*{estado}" autofocus="autofocus" placeholder="Informe o estado" maxlenght="250"/>
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="col-md-12" th:classappend="${#fields.hasErrors('cep')}? 'has-error'">
                                    <label>cep</label>
                                    <input type="text" class="form-control input-sm" th:field="*{cep}" autofocus="autofocus" placeholder="Informe o cep" maxlenght="250"/>
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="col-md-12" th:classappend="${#fields.hasErrors('email')}? 'has-error'">
                                    <label>email</label>
                                    <input type="text" class="form-control input-sm" th:field="*{email}" autofocus="autofocus" placeholder="Informe o email" maxlenght="250"/>
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="col-md-12" th:classappend="${#fields.hasErrors('telefone')}? 'has-error'">
                                    <label>telefone</label>
                                    <input type="text" class="form-control input-sm" th:field="*{telefone}" autofocus="autofocus" placeholder="Informe o telefone" maxlenght="250"/>
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="col-md-12" th:classappend="${#fields.hasErrors('representanteLegal')}? 'has-error'">
                                    <label>representanteLegal</label>
                                    <input type="text" class="form-control input-sm" th:field="*{representanteLegal}" autofocus="autofocus" placeholder="Informe o representanteLegal" maxlenght="250"/>
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="col-md-12" th:classappend="${#fields.hasErrors('representanteCargo')}? 'has-error'">
                                    <label>representanteCargo</label>
                                    <input type="text" class="form-control input-sm" th:field="*{representanteCargo}" autofocus="autofocus" placeholder="Informe o representanteCargo" maxlenght="250"/>
                                </div>
                            </div>

                            <div class="form-group row">
                                <div class="col-md-12" th:classappend="${#fields.hasErrors('idCoordenador')}? 'has-error'">
                                    <label>Coordenador</label>
                                    <input type="text" class="form-control input-sm" th:field="*{idCoordenador}" autofocus="autofocus" placeholder="Informe o representanteCargo" maxlenght="250"/>
                                </div>
                            </div>

                            <div class="form-group row">
                                <div class="col-md-12" th:classappend="${#fields.hasErrors('idCoordenador')}? 'has-error'">
                                    <label>Coordenador Substituto</label>
                                    <input type="text" class="form-control input-sm" th:field="*{idCoordenadorSubstituto}" autofocus="autofocus" placeholder="Informe o representanteCargo" maxlenght="250"/>
                                </div>
                            </div>

                            <div class="form-group row">
                                <div class="col-md-12" th:classappend="${#fields.hasErrors('idCoordenador')}? 'has-error'">
                                    <label>Secretário(a) Coordenação</label>
                                    <input type="text" class="form-control input-sm" th:field="*{idSecretarioCoordenacao}" autofocus="autofocus" placeholder="Informe o representanteCargo" maxlenght="250"/>
                                </div>
                            </div>

                            <div class="form-group row">
                                <div class="col-md-12" th:classappend="${#fields.hasErrors('campi')}? 'has-error'">
                                    <label>Campus</label>
                                    <select class="form-control" id="campi" name="campi" multiple="multiple">
                                        <option th:each="campus : ${campi}"
                                                th:selected="${curso.campi.contains(campus)}"
                                                th:value="${{campus.id}}"
                                                th:text="${campus.nome}">Part name</option>
                                    </select>
                                </div>
                            </div>

                            <!--
                            <div class="form-group row">
                                <div class="col-md-12" th:classappend="${#fields.hasErrors('tiposCurso')}? 'has-error'">
                                    <label>TipoCurso</label>
                                    <select class="form-control" id="tiposCurso" name="tiposCurso" multiple="multiple">
                                        <option th:each="tipoCurso : ${tiposCurso}"
                                                th:selected="${curso.tiposCurso.contains(tipoCurso)}"
                                                 th:value="${{tipoCurso.id}}"
                                                th:text="${tipoCurso.nome}">Part name</option>
                                    </select>
                                </div>
                            </div>

                            <div class="form-group row">
                                <div class="col-md-4" th:classappend="${#fields.hasErrors('cursos')}? 'has-error'">
                                    <label>Cursos</label>
                                    <select class="form-control" id="cursos" name="cursos">
                                        <option th:each="curso : ${cursos}"
                                                th:selected="${curso.cursos.contains(curso)}"
                                                th:value="${{curso.id}}"
                                                th:text="${curso.campus}+' - '+${curso.nome}">Part name</option>
                                    </select>
                                </div>
                            </div>
                            -->

                        </fieldset>
                    </div>
                    <div class="form-group row">
                        <button type="submit" class="btn btn-sm btn-info">Salvar</button>
                        <a th:href="@{/Curso/list}" class="btn btn-sm btn-default">Cancelar</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <!-- /CONTENT -->
</div>

<div th:include="/_template/footer :: footer"></div>
</body>
</html>