<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:include="/_template/head :: head"></head>
<body>
<div th:include="/_template/barra_gov :: barragov"></div>
<div th:include="/_template/menu :: menu"></div>

<div class="container panel">
    <!-- CONTENT -->
    <div class="row">
        <div class="col-md-12 widget">
            <div class="panel-heading">
                <p><strong>Listar Disciplinaes (<span th:text="${#lists.size(disciplinas)}"></span>) </strong><br> <i class="fas fa-home blue"></i> <a th:href="@{/Disciplina/list}">Disciplina</a>
            </div>
            <div class="panel-body">
                <div class="table-responsive">
                    <!--PAGINAÇÃO -->
                    <div class="row">
                        <div class="col-md-auto">
                            <form class="form-inline">
                                <div class="form-group">
                                    <span class="searchBar"></span>
                                </div>
                                <a class="btn btn-info pull-right" style="margin-bottom: 10px" th:href="@{/Disciplina/add}"><i class="fas fa-address-card"></i> Cadastrar Disciplina</a>
                            </form>
                        </div>
                    </div>
                    <table class="table table-sm table-striped table-hover table-bordered sieve">
                        <thead>
                        <tr>
                            <th>ID</th>
                            <th>Disciplina</th>
                            <th>Curso</th>
                            <th>Opções</th>
                        </tr>
                        </thead>
                        <tbody id="itemContainer">
                        <tr th:each="disciplina : ${disciplinas}">
                            <td th:text="${disciplina.id}"></td>
                            <td th:text="${disciplina.nome}"></td>
                            <td><p th:each="curso : ${disciplina.cursos}" th:text="${curso.nome}"></p></td>                            <td>
                                <div class="btn-group pull-right">
                                    <a class="btn btn-info btn-sm" th:href="@{/Disciplina/show/{id}(id=${disciplina.id})}"  th:title="${'visualizar disciplina '+disciplina.nome}" th:data-message="${'visualizar disciplina '+disciplina.nome}"><i class="fas fa-search" ></i></a>
                                    <a class="btn btn-sm btn-info" th:href="@{/Disciplina/edit/{id}(id=${disciplina.id})}"  th:title="${'editar disciplina '+disciplina.nome}" th:data-message="${'editar disciplina '+disciplina.nome}"><i class="fas fa-edit" ></i></a>
                                    <a class="delete btn btn-sm btn-info" th:href="@{/Disciplina/delete/{id}(id=${disciplina.id})}" th:title="${'excluir disciplina '+disciplina.nome}" th:data-message="${'excluir disciplina '+disciplina.nome}"><i class="fas fa-trash" ></i></a>
                                </div>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                    <!--PAGINAÇÃO -->
                    <div class="row">
                        <div class="col-md-auto">
                            <div class="holder form-control"></div>
                        </div>
                        <div class="col-md-auto">
                            <form class="form-inline">
                                <div class="form-group">
                                    <label for="itensPorPagina">Itens por Página: </label>
                                    <select class="form-control" id="itensPorPagina">

                                        <th:block th:each="i: ${#numbers.sequence(1, #lists.size(disciplinas))}">
                                            <option th:if="${i <= #lists.size(disciplinas) && i%5 ==0}" th:text=${i} ></option>
                                        </th:block>
                                        <option th:value="${#lists.size(disciplinas)}">Todos</option>
                                    </select>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <!-- /CONTENT -->
</div>

<div th:include="/_template/footer :: footer"></div>
</body>
</html>
