<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:include="/_template/head :: head"></head>
<body>
<div th:include="/_template/barra_gov :: barragov"></div>
<div th:include="/_template/menu :: menu"></div>

<div class="container panel">
    <!-- CONTENT -->
    <div class="row">
        <div class="col-md-12 widget">

            <div class="panel-heading">
                <p><strong>Visualizar Disciplina</strong> <br><i class="fas fa-home green"></i> <a th:href="@{/Disciplina/list}">Disciplina</a> > <a th:href="@{/Disciplina/show}">Visualizar</a></p>

            </div>
            <div class="panel-body">
                <form class="form-horizontal" th:object="${disciplina}" th:action="@{/Disciplina/save}" method="POST" style="margin: 10px">
                    <div class="form-group">
                        <fieldset>
                            <div class="form-group row">
                                <div class="alert alert-danger" th:if="${#fields.hasAnyErrors()}">
                                    <div th:each="detailedError : ${#fields.detailedErrors()}">
                                        <span th:text="${detailedError.message}"></span>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="col-md-1">
                                    <input type="text" class="form-control input-sm" id="id" th:field="*{id}" readOnly="readonly"/>
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="col-md-4" th:classappend="${#fields.hasErrors('nome')}? 'has-error'">
                                    <label>Nome</label>
                                    <input type="text" class="form-control input-sm" readOnly="readonly" th:field="*{nome}" autofocus="autofocus" placeholder="Informe o nome" maxlength="50"/>
                                </div>
                            </div>


                            <div class="form-group row">
                                <div class="col-md-12" th:classappend="${#fields.hasErrors('cursos')}? 'has-error'">
                                    <label>Curso</label>
                                    <select class="form-control" id="cursos" name="cursos" multiple="multiple" readOnly="readonly">
                                        <option th:each="curso : ${disciplina.cursos}"
                                                th:selected="${curso.id}"
                                                th:value="${curso.id}"
                                                th:text="${curso.nome}">Part name</option>
                                    </select>
                                </div>
                            </div>


                            <div class="form-group row">
                                <div class="col-md-12" th:classappend="${#fields.hasErrors('turmas')}? 'has-error'">
                                    <label>Turmas</label>
                                    <select class="form-control" id="turmas" name="turmas" multiple="multiple" readOnly="readonly">
                                        <option th:each="turma : ${disciplina.turmas}"
                                                th:selected="${turma.id}"
                                                th:value="${turma.id}"
                                                th:text="${turma.nome}">Part name</option>
                                    </select>
                                </div>
                            </div>

                            


                        </fieldset>
                    </div>
                    <div class="form-group row">
                        <a th:href="@{/Disciplina/list}" class="btn btn-sm btn-info">Retornar</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <!-- /CONTENT -->
</div>

<div th:include="/_template/footer :: footer"></div>
</body>
</html>
