<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:include="/_template/head :: head"></head>
<body>
<div th:include="/_template/barra_gov :: barragov"></div>
<div th:include="/_template/menu :: menu"></div>

<div class="container panel">
    <!-- CONTENT -->
    <div class="row">
        <div class="col-md-12 widget">

            <div class="panel-heading">
                <p><i class="fas fa-home blue"></i> <a th:href="@{/Turma/list}">Turma</a> > <a th:href="@{/Turma/add}">Cadastrar</a></p>
            </div>
            <div class="panel-body">
                <form class="form-horizontal" th:object="${turma}" th:action="@{/Turma/save}" method="POST" style="margin: 10px">
                    <div class="form-group">
                        <fieldset>
                            <div class="form-group row">
                                <div class="alert alert-danger" th:if="${#fields.hasAnyErrors()}">
                                    <div th:each="detailedError : ${#fields.detailedErrors()}">
                                        <span th:text="${detailedError.message}"></span>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="col-md-12">
                                    <input type="text" class="form-control input-sm" id="id" th:field="*{id}" readOnly="readonly" hidden=""/>
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="col-md-12" th:classappend="${#fields.hasErrors('nome')}? 'has-error'">
                                    <label>Nome</label>
                                    <input type="text" class="form-control input-sm" th:field="*{nome}" autofocus="autofocus" placeholder="Informe o nome" maxlength="250"/>
                                </div>
                            </div>

                            <div class="form-group row">
                                <div class="col-md-12" th:classappend="${#fields.hasErrors('alunos')}? 'has-error'">
                                    <label>Alunos</label>
                                    <select class="form-control" id="alunos" name="alunos" multiple="multiple">
                                        <option th:each="aluno : ${alunos}"
                                                th:selected="${turma.alunos.contains(aluno)}"
                                                th:value="${{aluno.id}}"
                                                th:text="${aluno.nome}">Part name</option>
                                    </select>
                                </div>
                            </div>


                            <div class="form-group row">
                                <div class="col-md-12" th:classappend="${#fields.hasErrors('campi')}? 'has-error'">
                                    <label>Campus</label>
                                    <select class="form-control" id="campi" name="campi">
                                        <option th:each="campus : ${campi}"
                                                th:selected="${turma.campi.contains(campus)}"
                                                th:value="${{campus.id}}"
                                                th:text="${campus.nome}">Part name</option>
                                    </select>
                                </div>
                            </div>

                            <div class="form-group row">
                                <div class="col-md-12" th:classappend="${#fields.hasErrors('cursos')}? 'has-error'">
                                    <label>Cursos</label>
                                    <select class="form-control" id="cursos" name="cursos" >
                                        <option th:each="curso : ${cursos}"
                                                th:selected="${turma.cursos.contains(curso)}"
                                                th:value="${{curso.id}}"
                                                th:text="${curso.nome}">Part name</option>
                                    </select>
                                </div>
                            </div>

                            <div class="form-group row">
                                <div class="col-md-12" th:classappend="${#fields.hasErrors('disciplinas')}? 'has-error'">
                                    <label>Disciplina</label>
                                    <select class="form-control" id="disciplinas" name="disciplinas" >
                                        <option th:each="disciplina : ${disciplinas}"
                                                th:selected="${turma.disciplinas.contains(disciplina)}"
                                                th:value="${{disciplina.id}}"
                                                th:text="${disciplina.nome}">Part name</option>
                                    </select>
                                </div>
                            </div>
                            <!--
                            <div class="form-group row">
                                <div class="col-md-12" th:classappend="${#fields.hasErrors('alunos')}? 'has-error'">
                                    <label>TipoTurma</label>
                                    <select class="form-control" id="alunos" name="alunos" multiple="multiple">
                                        <option th:each="usuario : ${alunos}"
                                                th:selected="${turma.alunos.contains(usuario)}"
                                                 th:value="${{usuario.id}}"
                                                th:text="${usuario.nome}">Part name</option>
                                    </select>
                                </div>
                            </div>

                            <div class="form-group row">
                                <div class="col-md-4" th:classappend="${#fields.hasErrors('cursos')}? 'has-error'">
                                    <label>Cursos</label>
                                    <select class="form-control" id="cursos" name="cursos">
                                        <option th:each="curso : ${cursos}"
                                                th:selected="${turma.cursos.contains(curso)}"
                                                th:value="${{curso.id}}"
                                                th:text="${curso.campus}+' - '+${curso.nome}">Part name</option>
                                    </select>
                                </div>
                            </div>
                            -->

                        </fieldset>
                    </div>
                    <div class="form-group row">
                        <button type="submit" class="btn btn-sm btn-info">Salvar</button>
                        <a th:href="@{/Turma/list}" class="btn btn-sm btn-default">Cancelar</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <!-- /CONTENT -->
</div>

<div th:include="/_template/footer :: footer"></div>
</body>
</html>