<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:include="/_template/head :: head"></head>
<body>
<div th:include="/_template/barra_gov :: barragov"></div>
<div th:include="/_template/menu :: menu"></div>

<div class="container panel">
    <!-- CONTENT -->
    <div class="row">
        <div class="col-md-12 widget">
            <div class="panel-heading">
                <p> <i class="fas fa-home blue"></i> <a th:href="@{/Turma/list}">Turma (<span th:text="${#lists.size(turmas)}"></span>)</a>
                </p>

            </div>
            <div class="panel-body">
                <div class="table-responsive">
                    <!--PAGINAÇÃO -->
                    <div class="row">
                        <div class="col-md-auto">
                            <form class="form-inline">
                                <div class="form-group">
                                    <span class="searchBar"></span>
                                </div>
                                <a class="btn btn-info pull-right" style="margin-bottom: 10px" th:href="@{/Turma/add}"><i class="fas fa-university"></i> Cadastrar Turma</a>
                            </form>
                        </div>
                    </div>
                    <table class="table table-sm table-striped table-hover table-bordered sieve">
                        <thead>
                        <tr>
                            <th>Nome</th>
                            <th>Curso</th>
                            <th>Campi</th>
                            <th>Ações</th>
                        </tr>
                        </thead>
                        <tbody id="itemContainer">


                        <tr th:each="turma : ${turmas}">

                            <td th:text="${turma.nome}"></td>



                            <td> <p th:each="curso : ${turma.cursos}" th:text="${curso.nome}"></p></td>
                            <td> <p th:each="campus : ${turma.campi}" th:text="${campus.nome}"></p></td>


                            <!-- <td><p th:each="curso : ${turma.cursos}" th:text="${curso.nome}"></p></td>
                            <td><p th:each="perfil : ${turma.perfis}" th:text="${perfil.nome}"></p></td>
-->
                            <td>
                                <div class="btn-group pull-right">
                                    <a class="btn btn-info btn-sm" th:href="@{/Turma/show/{id}(id=${turma.id})}"  th:title="${'visualizar turma '+turma.nome}" th:data-message="${'visualizar turma '+turma.nome}"><i class="fas fa-search" ></i></a>
                                    <a class="btn btn-sm btn-info" th:href="@{/Turma/edit/{id}(id=${turma.id})}"  th:title="${'editar turma '+turma.nome}" th:data-message="${'editar turma '+turma.nome}"><i class="fas fa-edit" ></i></a>
                                    <a class="delete btn btn-sm btn-info" th:href="@{/Turma/delete/{id}(id=${turma.id})}" th:title="${'excluir turma '+turma.nome}" th:data-message="${'excluir turma '+turma.nome}"><i class="fas fa-trash" ></i></a>
                                </div>
                            </td>

                        </tr>

                        </tbody>
                    </table>
                    <!--PAGINAÇÃO -->
                    <div class="row">

                        <div class="col-md-auto">
                            <div class="holder form-control"></div>
                        </div>
                        <div class="col-md-auto">
                            <form class="form-inline">
                                <div class="form-group">
                                    <label for="itensPorPagina">Itens por Página: </label>
                                    <select class="form-control" id="itensPorPagina">

                                        <th:block th:each="i: ${#numbers.sequence(1, #lists.size(turmas))}">
                                            <option th:if="${i <= #lists.size(turmas) && i%5 ==0}" th:text=${i} ></option>
                                        </th:block>
                                        <option th:value="${#lists.size(turmas)}">Todos</option>
                                    </select>

                                </div>
                            </form>

                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- /CONTENT -->
</div>

<div th:include="/_template/footer :: footer"></div>
</body>
</html>
