<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:include="/_template/head :: head"></head>
<body>
<div th:include="/_template/barra_gov :: barragov"></div>
<div th:include="/_template/menu :: menu"></div>

<div class="container panel">
    <!-- CONTENT -->
    <div class="row">
        <div class="col-md-12 widget">

            <div class="panel-heading">
                <p><strong>Visualizar Turma</strong> <br><i class="fas fa-home green"></i> <a th:href="@{/Turma/list}">Turma</a> > <a th:href="@{/Turma/show}">Visualizar</a></p>

            </div>
            <div class="panel-body">
                <form class="form-horizontal" th:object="${turma}" th:action="@{/Turma/save}" method="POST" style="margin: 10px">
                    <div class="form-group">
                        <fieldset>
                            <div class="form-group row">
                                <div class="col-md-12" th:classappend="${#fields.hasErrors('nome')}? 'has-error'">
                                    <label>Nome</label>
                                    <input type="text" class="form-control input-sm" readOnly="readonly" th:field="*{nome}" autofocus="autofocus" placeholder="Informe o nome" maxlength="250"/>
                                </div>
                            </div>


                            <div class="form-group row">
                                <div class="col-md-4" th:classappend="${#fields.hasErrors('alunos')}? 'has-error'">
                                    <label>Usuarios</label>
                                    <select class="form-control" id="alunos" name="alunos" multiple="multiple" readOnly="readonly">
                                        <option th:each="aluno : ${turma.alunos}"
                                                th:selected="${aluno.id}"
                                                th:value="${aluno.id}"
                                                th:text="${aluno.nome}">Part name</option>
                                    </select>
                                </div>
                            </div>

                            <div class="form-group row">
                                <div class="col-md-12" th:classappend="${#fields.hasErrors('campi')}? 'has-error'">
                                    <label>Campus</label>
                                    <select class="form-control" id="campi" name="campi" readOnly="readonly">
                                        <option th:each="campus : ${turma.campi}"
                                                th:selected="${campus.id}"
                                                th:value="${campus.id}"
                                                th:text="${campus.nome}">Part name</option>
                                    </select>
                                </div>
                            </div>

                            <div class="form-group row">
                                <div class="col-md-12" th:classappend="${#fields.hasErrors('cursos')}? 'has-error'">
                                    <label>Curso</label>
                                    <select class="form-control" id="campi" name="campi" readOnly="readonly">
                                        <option th:each="curso : ${turma.cursos}"
                                                th:selected="${curso.id}"
                                                th:value="${curso.id}"
                                                th:text="${curso.nome}">Part name</option>
                                    </select>
                                </div>
                            </div>
                            <!--
                            <div class="form-group row">
                                <div class="col-md-4" th:classappend="${#fields.hasErrors('usuarios')}? 'has-error'">
                                    <label>TipoTurma</label>
                                    <select class="form-control" id="usuarios" name="usuarios" multiple="multiple" readOnly="readonly">
                                        <option th:each="usuario : ${turma.usuarios}"
                                                th:selected="${usuario.id}"
                                                th:value="${usuario.id}"
                                                th:text="${usuario.nome}">Part name</option>
                                    </select>
                                </div>
                            </div>

                            <div class="form-group row">
                                <div class="col-md-4" th:classappend="${#fields.hasErrors('cursos')}? 'has-error'">
                                    <label>Curso</label>
                                    <select class="form-control" id="cursos" name="cursos" multiple="multiple" readOnly="readonly">
                                        <option th:each="curso : ${turma.cursos}"
                                                th:selected="${curso.id}"
                                                th:value="${curso.id}"
                                                th:text="${curso.nome}">Part name</option>
                                    </select>
                                </div>
                            </div>
                            -->

                        </fieldset>
                    </div>
                    <div class="form-group row">
                        <a th:href="@{/Turma/list}" class="btn btn-sm btn-info">Retornar</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <!-- /CONTENT -->
</div>

<div th:include="/_template/footer :: footer"></div>
</body>
</html>
