.holder {
	margin-bottom: 15px;
}

.holder a {
	cursor: pointer;
	color: #333;
	padding-left: 5px;
	padding-right: 5px;
}

.holder a:hover {
	color: #0f6674;
}

.holder a.jp-previous { margin-right: 15px; }
.holder a.jp-next { margin-left: 15px; }

.holder a.jp-current, a.jp-current:hover { 
	color: #17a2b8;
	font-weight: bold;
}

.holder a.jp-disabled, a.jp-disabled:hover {
	color: #bbb;
}

.holder a.jp-current, a.jp-current:hover,
.holder a.jp-disabled, a.jp-disabled:hover {
	cursor: default; 
	background: none;
}
