*,
*:after,
*::before {
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		box-sizing: border-box;
}


/* Icomoon.com */


body {
	background: #fff;
}



.menu-main,
.menu-main ul {
		margin-left: 0;
		padding: 0;
		background: #eaeaea;
		color: #141944;
		list-style: none;
		text-transform: none;
		font-weight: 300;
		font-family: 'Lato', Arial, sans-serif;
		line-height: 35px;
	z-index: 999999;
}

.menu-main {
		position: relative;
		top: 0;
		left: 0;
		width: 100%;
		height: 50px;
		font-size: 13px;		text-decoration: none;

}

.menu-main a {
		display: block;
		height: 100%;
		color: #141944;
		text-decoration: none;
		cursor: pointer;
}


.no-touch .menu-main a:hover,
.no-touch .menu li.search-item:hover,
.no-touch .menu li.search-item:hover a {
		background: #00a2b9;
		color: #ffffff !important;
		text-decoration: none;
		font-weight:bold;

}

.menu-main > li {
		display: block;
		float: left;
		height: 100%;
		text-align: center;

}

/* icon-only trigger (menu item) */

.menu-main li.trigger {
		position: relative;
		width: 50px;
		-webkit-touch-callout: none;
		-webkit-user-select: none;
		-khtml-user-select: none;
		-moz-user-select: none;
		-ms-user-select: none;
		user-select: none;
}

.menu-main > li:last-child {
		float: right;
		border-right: 2em;
}

.menu-main > li > a {
		padding: 0 3px;
		text-transform: uppercase;
		letter-spacing: 1px;
		font-weight: bold;
}

.menu-main:after {
		display: table;
		clear: both;
		content: "";
}

.menu-wrapper {
		position: fixed;
		top: 92px;
		bottom: 0;
		left: 0;
		overflow: hidden;
		width: 50px;
		background: #f0f0f0;
		-webkit-transform: translateX(-50px);
		-moz-transform: translateX(-50px);
		transform: translateX(-50px);
		-webkit-transition: -webkit-transform 0.3s, width 0.3s;
		-moz-transition: -moz-transform 0.3s, width 0.3s;
		transition: transform 0.3s, width 0.3s;
}

.menu-wrapper li {
	background: #f0f0f0;
}

.scroller {
		position: absolute;
		overflow-y: scroll;
		width: 370px;
		height: 100%;
}

.menu {
		border-bottom: 1px solid rgba(0,0,0,0.1);
		text-align: left;
		font-size: 16px;
}

.menu li:not(:first-child),
.menu li li {
		box-shadow: inset 0 1px #c6d0da
}

.submenu {
	display: none;
}

.submenu li {
		overflow: hidden;
		height: 0;
		-webkit-transition: height 0.3s;
		-moz-transition: height 0.3s;
		transition: height 0.3s;
}

.submenu li {
		color: #005484;
        background: #f0f0f0;
}

.submenu li:hover > svg {
	color: #005484;

}


.submenu svg {
	color: #00a2b9 !important;
}



input.search {
		position: relative;
		z-index: 10;
		padding-left: 50px;
		outline: none;
		border: none;
		background: transparent;
		color: #005484;
		font-weight: 300;
		font-family: 'Lato', Arial, sans-serif;
		cursor: pointer;
}

/* placeholder */

.search::-webkit-input-placeholder {
		color: #005484
}

.search:-moz-placeholder {
		color: #005484
}

.search::-moz-placeholder {
		color: #005484
}

.search:-ms-input-placeholder {
		color: #005484
}

/* hide placeholder when active in Chrome */

.search:focus::-webkit-input-placeholder,
.no-touch .menu li.search-item:hover .search:focus::-webkit-input-placeholder {
		color: transparent
}

input.search:focus {
		cursor: text
}

.no-touch .menu li.search-item:hover input.search {
		color: white
}

/* placeholder */

.no-touch .menu li.search-item:hover .search::-webkit-input-placeholder {
		color: white
}

.no-touch .menu li.search-item:hover .search:-moz-placeholder {
		color: white
}

.no-touch .menu li.search-item:hover .search::-moz-placeholder {
		color: white
}

.no-touch .menu li.search-item:hover .search:-ms-input-placeholder {
		color: white
}

.menu-main a.icon-search {
		position: absolute;
		top: 0;
		left: 0;
		height: 50px;
}

.menu-main .icon i {
	width: 50px;
	background: #3a9c6f;
}

.icon::before {
		display: inline-block;
		width: 50px;
		text-align: center;
		text-transform: none;
		font-weight: normal;
		font-style: normal;
		font-variant: normal;
		line-height: 1;
		speak: none;
		-webkit-font-smoothing: antialiased;
}

.icon-help::before {
		content: "\e000"
}

.icon-earth::before {
		content: "\e004"
}

.icon-cog::before {
		content: "\e006"
}

.icon-search::before {
		content: "\e005"
}

.icon-download::before {
		content: "\e007"
}

.icon-photoshop::before {
		content: "\e001"
}

.icon-illustrator::before {
		content: "\e002"
}

.icon-archive::before {
		content: "\e00d"
}

.icon-article::before {
		content: "\e003"
}

.icon-pictures::before {
		content: "\e008"
}

.icon-videos::before {
		content: "\e009"
}

/* if an icon anchor has a span, hide the span */

.icon span {
		width: 0;
		height: 0;
		display: block;
		overflow: hidden;
}

.icon-menu::before {
		margin-left: 0px;
		vertical-align: -2px;
		width: 30px;
		height: 3px;
		background: #005484;
		box-shadow: 0 3px #eaeaea, 0 -6px #005484, 0 -9px #eaeaea, 0 -12px #005484;
		content: '';
}

.no-touch .icon-menu:hover::before,
.no-touch .icon-menu.selected:hover::before {
		background: white;
		box-shadow: 0 3px #00a2b9, 0 -6px white, 0 -9px #00a2b9, 0 -12px white;

}

.icon-menu.selected::before {
		background: #5993cd;
		box-shadow: 0 3px #eaeaea, 0 -6px #5993cd, 0 -9px #eaeaea, 0 -12px #5993cd;
}

/* styles for opening menu */

.menu-wrapper.open-all,
.menu-wrapper.open-part {
		-webkit-transform: translateX(0px);
		-moz-transform: translateX(0px);
		transform: translateX(0px);
}

.menu-wrapper.open-all {
		width: 340px
}

.menu-wrapper.open-all .submenu li {
		height: 35px
}

@media screen and (max-width: 422px) { 
	.menu-wrapper.open-all {
			-webkit-transform: translateX(0px);
			-moz-transform: translateX(0px);
			transform: translateX(0px);
			width: 100%;
	}

	.menu-wrapper.open-all .scroller {
			width: 130%
	}
}

.panel {
	padding: 2em;
	margin-top: 20px;
}

.widget{
	width: 100%;
	background: none;
	padding: 10px;
	z-index: 0;
	border-radius: 5px;
}

.fa:before,.fa:before,
.fas:before,
.far:before,
.fal:before,
.fad:before,
.fab:before {
  display: inline-block;
  width: 50px;
  text-align: center;
  speak: none;
  -webkit-font-smoothing: antialiased;
}
.fas:before,
.far:before,
.fal:before,
.fad:before,
.fab:before {
	display: inline-block;
	width: 50px;
	text-align: center;
	speak: none;
	-webkit-font-smoothing: antialiased;
}

.menu-icon {
	width: 50px !important;
}


/* width */
::-webkit-scrollbar {
	width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
	background: rgba(0,0,0,0.15);
}

/* Handle */
::-webkit-scrollbar-thumb {
	background: rgba(0,0,0,0.1);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
	background: rgba(0,0,0,0.3);
}