<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:include="/_template/head :: head"></head>
<body>
<div th:include="/_template/barra_gov :: barragov"></div>
<div th:include="/_template/menu :: menu"></div>

<div class="container panel">
    <!-- CONTENT -->
    <div class="row">
        <div class="col-md-12 widget">
            <h1>Requisição Inválida</h1>
            <a th:href="@{/}">Ir para página Inicial</a>

        </div>
    </div>
    <!-- /CONTENT -->
</div>

<div th:include="/_template/footer :: footer"></div>
</body>
</html>


