<!-- barra do Governo Federal -->

<div th:fragment="barragov">
    <div id="barra-brasil" style="background:#7F7F7F; height: 20px; padding:0 0 0 10px;display:block; z-index: 9999999">
        <ul id="menu-barra-temp" style="list-style:none;">
            <li style="display:inline; float:left;padding-right:10px; margin-right:10px; border-right:1px solid #EDEDED">
                <a href="http://brasil.gov.br" style="font-family:sans,sans-serif; text-decoration:none; color:white;">Portal do Governo Brasileiro</a>
            </li>
        </ul>
    </div>
<script type="text/javascript">
    document.onreadystatechange = function () {
        if (document.readyState == "complete") {
            scr = document.createElement('script');
            scr.type = "text/javascript";
            scr.src = "https://barra.brasil.gov.br/barra_2.0.js";
            document.body.appendChild(scr);
        }
    }
</script>
<noscript>A barra do Governo Federal só poderá ser visualizada se o javascript estiver ativado.</noscript>

<!--[if lt IE 7]><br/><strong>Seu navegador é incompatível com os novos padrões de tecnologia e por isso você não pode
    visualizar a nova barra do Governo Federal. Atualize ou troque seu navegador.</strong><br/><![endif]-->
<!-- fim barra do governo -->
</div>