<footer th:fragment="footer">

    <div class="footer">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <a href="https://palmas.uft.edu.br/grad/ccomp/fsoftwareuft/" alt="Fábrica de Software"><img
                            th:src="@{../../img/fabrica.png}"/></a>
                    <a href="https://ww2.uft.edu.br/" alt="Universidade Federal do Tocantins"><img
                            th:src="@{../../img/uft.png}"/></a>
                </div>
                <div class="col-md-6">
                    <div class="textwidget"><p><strong> <a href="https://palmas.uft.edu.br/grad/ccomp/fsoftwareuft/"
                                                           alt="Fábrica de Software">© Fábrica de Software - UFT -
                        2019</a></strong><br>
                        Quadra 109 Norte, Avenida NS-15, ALCNO-14, Bloco III, Sala 05<br>
                        Plano Diretor Norte | 77001-090 | Palmas/TO</p>
                    </div>

                </div>

            </div>
        </div>
    </div>


    <script th:src="@{../../js/jquery-3.4.1.min.js}"></script>
    <script th:src="@{../../js/bootstrap.js}"></script>
    <script th:src="@{../../js/classie.js}" src="js/classie.js"></script>
    <script th:src="@{../../js/menu.js}"></script>

    <!--PAGINAÇÃO -->
    <script type="text/javascript" th:src="@{../../js/highlight.pack.js}"></script>
    <script type="text/javascript" th:src="@{../../js/tabifier.js}"></script>
    <script type="text/javascript" th:src="@{../../js/js.js}"></script>
    <script type="text/javascript" th:src="@{../../js/jPages.js}"></script>
    <script type="text/javascript" th:src="@{../../js/jquery.sticky.js}"></script>


    <!-- Filtro tabela-->
    <script type="text/javascript" th:src="@{../../js/jquery.sieve.min.js}"></script>

    <script defer="defer" src="//barra.brasil.gov.br/barra_2.0.js" type="text/javascript"></script>

    <script>
        new menu(document.getElementById('menu'));
    </script>
    <script>
        $('#slider').carousel(

        );
    </script>
    <script>
        //AJUSTA O COMPRIMENTO INICIAL DA PÁGINA DE ACORDO COM A TELA
        $(document).ready(function () {
            $(".panel").css('min-height', screen.height);
        });
    </script>

    <script>
        //ANIMAÇÃO MENU
        $(".menu li").on("click", function () {
            $(this).find(".submenu").slideToggle();
        });
    </script>

    <script>
        // PAGINAÇÃO
        /* when document is ready */
        $(function () {

            /* initiate plugin */
            $("div.holder").jPages({
                containerID: "itemContainer",
                perPage: 5
            });

            /* on select change */
            $("select").change(function () {
                /* get new nº of items per page */
                var newPerPage = parseInt($(this).val());

                /* destroy jPages and initiate plugin again */
                $("div.holder").jPages("destroy").jPages({
                    containerID: "itemContainer",
                    perPage: newPerPage
                });
            });

        });

        $("#itensPorPagina").change(function () {
            var e = $(this).children("option:selected");
            var v = e.attr("value");
            if (e.val() === "Todos") {
                e.val(v);
            }
        });
    </script>
    <script>
        $(document).ready(function () {
            //FILTRO DE BUSCA PARA AS TABELAS
            $("table.sieve").sieve();

            //FIXA O MENU PRINCIPAL NO TOPO
            $("#menu").sticky({topSpacing: 0, zIndex: 9999});
            $("#barra-brasil").sticky({topSpacing: 0});
            $('#menu').on('sticky-start', function () {
                $(".menu-wrapper").css("top", "50px");
            });

            $('#menu').on('sticky-end', function () {
                $(".menu-wrapper").css("top", "92px");

            });

            $('#barra-brasil').on('sticky-start', function () {
                $(".trigger").click();
            });
            $('#barra-brasil').on('sticky-end', function () {
                $(".trigger").click();
                $(this).unstick();
            });

        });


        $(".delete").click(function (e) {
            var name = $(this).attr('title');
            if(confirm("Tem certeza que deseja "+ name + "?") == false) {
                e.preventDefault();
            }
        });



    </script>

</footer>
