<head th:fragment="head">
		<meta charset="UTF-8" />
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0"> 
		<title>UFT - Estágio Supervisionado</title>
		<meta name="description" content="Sistema de acompanhamento de estágio da Universidade Federal do Tocantins" />
		<meta name="keywords" content="estagio, estagiario, controle, supervisão, acompanhamento, empresa, universidade, curso, graduacao" />
		<meta name="author" content="Codrops" />
        <link href="https://ww2.uft.edu.br/templates/padraogoverno01/favicon.ico" rel="shortcut icon" type="image/vnd.microsoft.icon" />
		<link rel="stylesheet" type="text/css" th:href="@{../../css/normalize.css}" />
		<link rel="stylesheet" type="text/css" th:href="@{../../css/menu.css}" />
		<link rel="stylesheet" type="text/css" th:href="@{../../css/editor.css}" />
		<link rel="stylesheet" th:href="@{../../css/bootstrap.css}"/>
		<!-- PAGINAÇÃO-->
		<link rel="stylesheet" th:href="@{../../css/jPages.css}">
		<link rel="stylesheet" th:href="@{../../css/animate.css}">

		<script th:src="@{../../js/all.js}"></script>
	    <script th:src="@{../../js/modernizr.custom.js}"></script>
	    <script th:src="@{../../js/editor.js}"></script>


	<script>
		$(document).ready(function() {
			$("#txtEditor").Editor();
		});
	</script>
</head>