
<div th:fragment="menu">

    <ul id="menu" class="menu-main">
        <li class="trigger">
            <a class="icon icon-menu"><span>Menu</span></a>
            <nav class="menu-wrapper">
                <div class="scroller">
                    <ul class="menu">

                        <li>
                            <a class="icon"><i class="fas fa-map-marker-alt menu-icon"></i>Locais</a>
                            <ul class="submenu">

                                <li><a class="icon" th:href="@{/Entidade/list}"><i class="fas fa-landmark menu-icon"></i>Entidades</a></li>
                                <li><a class="icon" th:href="@{/Campus/list}"><i
                                        class="fas fa-map-marked-alt menu-icon"></i>Campus</a></li>
                                <li><a class="icon" th:href="@{/Setor/list}"><i
                                        class="fas fa-sitemap menu-icon"></i>Setores</a></li>


                            </ul>
                        </li>

                        <li>
                            <a class="icon"><i class="fas fa-graduation-cap menu-icon"></i>Cursos</a>
                            <ul class="submenu">

                                <li><a class="icon" th:href="@{/Curso/list}"><i class="fas fa-home menu-icon"></i>Cursos</a></li>
                                <li><a class="icon" th:href="@{/Disciplina/list}"><i
                                        class="fas fa-book menu-icon"></i>Disciplina</a></li>
                                <li><a class="icon" th:href="@{/CampusCurso/list}"><i
                                        class="fas fa-book menu-icon"></i>CampusCurso</a></li>
                                <li><a class="icon" th:href="@{/Turma/list}"><i
                                        class="fas fa-tags menu-icon"></i>Turmas</a></li>
                            </ul>
                        </li>


                        <li>
                            <a class="icon" th:href="@{/Estagio/list}"><i
                                    class="fas fa-user menu-icon"></i>Estagio</a>
                        </li>



                        <li>
                            <a class="icon" th:href="@{/Plano/list}"><i
                                    class="fas fa-user menu-icon"></i>Plano</a>
                        </li>

                        <li>
                            <a class="icon" th:href="@{/Usuario/findBy/perfil=Aluno}"><i
                                    class="fas fa-user menu-icon"></i>Acadêmicos</a>
                        </li>
                        <li>
                            <a class="icon" th:href="@{/Usuario/findBy/perfil=Orientador}"><i
                                    class="fas fa-user-tie menu-icon"></i>Orientadores</a>
                        </li>
                        <li>
                            <a class="icon" th:href="@{/Usuario/findBy/perfil=Administrador}"><i
                                    class="fas fa-user-shield menu-icon"></i>Supervisores</a>
                        </li>
                        <li>
                            <a class="icon" th:href="@{/PlanoEstagio}"><i class="fas fa-calendar-check menu-icon"></i>Plano
                                de Estágio</a>
                        </li>


                        <li>
                            <a class="icon"><i class="fas fa-cog menu-icon"></i>Configurações</a>
                            <ul class="submenu">

                                <li><a class="icon" th:href="@{/Usuario/list}"><i
                                        class="fas fa-angle-double-right menu-icon"></i>Usuarios</a></li>
                                <li><a class="icon" th:href="@{/Perfil/list}"><i
                                        class="fas fa-angle-double-right menu-icon"></i>Perfis</a></li>
                                <li><a class="icon" th:href="@{/Permissao/list}"><i
                                        class="fas fa-angle-double-right menu-icon"></i>Permissões</a></li>
                                <li><a class="icon" th:href="@{/ModeloDocumento/list}"><i
                                        class="fas fa-angle-double-right menu-icon"></i>Documentos</a></li>
                                <li><a class="icon" th:href="@{/TipoEntidade/list}"><i
                                        class="fas fa-angle-double-right menu-icon"></i>Tipo Entidade</a></li>
                            </ul>
                        </li>
                    </ul>
                </div><!-- /scroller -->
            </nav>

        </li>
        <li><img th:src="@{../../img/logo.png}"
                 style="height: 40px; float: left; display: inline-block; margin-top: 5px"></li>
        <li><a class="codrops-icon"><span>LOGIN</span></a></li>
    </ul>
</div>