<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:include="/_template/head :: head"></head>
<body>
<div th:include="/_template/barra_gov :: barragov"></div>
<div th:include="/_template/menu :: menu"></div>

<div class="container panel">
    <!-- CONTENT -->
    <div class="row">
        <div class="col-md-12 widget">

            <div class="panel-heading">
                <p><strong>Cadastrar de Perfl</strong> <br><i class="fas fa-home green"></i> <a th:href="@{/Perfil/list}">Perfil</a> > <a th:href="@{/Perfil/add}">Cadastrar</a></p>
            </div>
            <div class="panel-body">
                <form class="form-horizontal" th:object="${perfil}" th:action="@{/Perfil/save}" method="POST" style="margin: 10px">
                    <div class="form-group">
                        <fieldset>
                            <div class="form-group row">
                                <div class="alert alert-danger" th:if="${#fields.hasAnyErrors()}">
                                    <div th:each="detailedError : ${#fields.detailedErrors()}">
                                        <span th:text="${detailedError.message}"></span>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="col-md-1">
                                    <input type="text" class="form-control input-sm" id="id" th:field="*{id}" readOnly="readonly" hidden=""/>
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="col-md-4" th:classappend="${#fields.hasErrors('nome')}? 'has-error'">
                                    <label>Nome</label>
                                    <input type="text" class="form-control input-sm" th:field="*{nome}" autofocus="autofocus" placeholder="Informe o nome" maxlength="50"/>
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="col-md-4" th:classappend="${#fields.hasErrors('sigla')}? 'has-error'">
                                    <label>Sigla</label>
                                    <input type="text" class="form-control input-sm" th:field="*{sigla}" autofocus="autofocus" placeholder="Informe a Sigla" maxlength="50"/>
                                </div>
                            </div>

                            <div class="form-group row">
                                <div class="col-md-12" th:classappend="${#fields.hasErrors('permissoes')}? 'has-error'">
                                    <label>Permissões</label>
                                    <select class="form-control" id="permissoes" name="permissoes" multiple="multiple" >
                                        <option th:each="permissao : ${permissoes}"
                                                th:selected="${perfil.permissoes.contains(permissao)}"
                                                th:value="${{permissao.id}}"
                                                th:text="${permissao.nome}">Part name</option>
                                    </select>
                                </div>
                            </div>


                                    <input type="text" class="form-control input-sm" th:field="*{bolAtivo}" value="1"  hidden />



                        </fieldset>
                    </div>
                    <div class="form-group row">
                        <button type="submit" class="btn btn-sm btn-info">Salvar</button>
                        <a th:href="@{/Perfil/list}" class="btn btn-sm btn-default">Cancelar</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <!-- /CONTENT -->
</div>

<div th:include="/_template/footer :: footer"></div>
</body>
</html>