<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:include="/_template/head :: head"></head>
<body>
<div th:include="/_template/barra_gov :: barragov"></div>
<div th:include="/_template/menu :: menu"></div>

<div class="container panel">
    <!-- CONTENT -->
    <div class="row">
        <div class="col-md-12 widget">

            <div class="panel-heading">
                <p><i class="fas fa-home blue"></i> <a th:href="@{/Estagio/list}">Estagio</a> > <a th:href="@{/Estagio/add}">Cadastrar</a></p>
            </div>
            <div class="panel-body">
                <form class="form-horizontal" th:object="${estagio}" th:action="@{/Estagio/save}" method="POST" style="margin: 10px">
                    <div class="form-group">
                        <fieldset>
                            <div class="form-group row">
                                <div class="alert alert-danger" th:if="${#fields.hasAnyErrors()}">
                                    <div th:each="detailedError : ${#fields.detailedErrors()}">
                                        <span th:text="${detailedError.message}"></span>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="col-md-12">
                                    <input type="text" class="form-control input-sm" id="id" th:field="*{id}" readOnly="readonly" hidden=""/>
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="col-md-12" th:classappend="${#fields.hasErrors('vaga')}? 'has-error'">
                                    <label>Vaga</label>
                                    <input type="text" class="form-control input-sm" th:field="*{vaga}" autofocus="autofocus" placeholder="Informe o vaga" maxlength="250"/>
                                </div>
                            </div>

                            <div class="form-group row">
                                <div class="col-md-12" th:classappend="${#fields.hasErrors('dataInicio')}? 'has-error'">
                                    <label>Data Início</label>
                                    <input type="text" class="form-control input-sm" th:field="*{dataInicio}" autofocus="autofocus" placeholder="Informe o vaga" maxlength="250"/>
                                </div>
                            </div>

                            <div class="form-group row">
                                <div class="col-md-12" th:classappend="${#fields.hasErrors('dataInicio')}? 'has-error'">
                                    <label>data Fim</label>
                                    <input type="text" class="form-control input-sm" th:field="*{dataInicio}" autofocus="autofocus" placeholder="Informe o vaga" maxlength="250"/>
                                </div>
                            </div>


                            <div class="form-group row">
                                <div class="col-md-12" th:classappend="${#fields.hasErrors('alunos')}? 'has-error'">
                                    <label>Aluno</label>
                                    <select class="form-control" id="alunos" name="alunos">
                                        <option th:each="aluno : ${alunos}"
                                                th:selected="${estagio.alunos.contains(aluno)}"
                                                th:value="${{aluno.id}}"
                                                th:text="${aluno.nome}">Part name</option>
                                    </select>
                                </div>
                            </div>

                            <div class="form-group row">
                                <div class="col-md-12" th:classappend="${#fields.hasErrors('supervisores')}? 'has-error'">
                                    <label>Supervisor</label>
                                    <select class="form-control" id="supervisores" name="supervisores" >
                                        <option th:each="supervisor : ${supervisores}"
                                                th:selected="${estagio.supervisores.contains(supervisor)}"
                                                th:value="${{supervisor.id}}"
                                                th:text="${supervisor.nome}">Part name</option>
                                    </select>
                                </div>
                            </div>

                            <!--
                            <div class="form-group row">
                                <div class="col-md-12" th:classappend="${#fields.hasErrors('tiposEstagio')}? 'has-error'">
                                    <label>TipoEstagio</label>
                                    <select class="form-control" id="tiposEstagio" name="tiposEstagio" multiple="multiple">
                                        <option th:each="tipoEstagio : ${tiposEstagio}"
                                                th:selected="${estagio.tiposEstagio.contains(tipoEstagio)}"
                                                 th:value="${{tipoEstagio.id}}"
                                                th:text="${tipoEstagio.vaga}">Part name</option>
                                    </select>
                                </div>
                            </div>

                            <div class="form-group row">
                                <div class="col-md-4" th:classappend="${#fields.hasErrors('cursos')}? 'has-error'">
                                    <label>Cursos</label>
                                    <select class="form-control" id="cursos" name="cursos">
                                        <option th:each="curso : ${cursos}"
                                                th:selected="${estagio.cursos.contains(curso)}"
                                                th:value="${{curso.id}}"
                                                th:text="${curso.campus}+' - '+${curso.vaga}">Part name</option>
                                    </select>
                                </div>
                            </div>
                            -->

                        </fieldset>
                    </div>
                    <div class="form-group row">
                        <button type="submit" class="btn btn-sm btn-info">Salvar</button>
                        <a th:href="@{/Estagio/list}" class="btn btn-sm btn-default">Cancelar</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <!-- /CONTENT -->
</div>

<div th:include="/_template/footer :: footer"></div>
</body>
</html>