<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:include="/_template/head :: head"></head>
<body>
<div th:include="/_template/barra_gov :: barragov"></div>
<div th:include="/_template/menu :: menu"></div>

<div class="container panel">
    <!-- CONTENT -->
    <div class="row">
        <div class="col-md-12 widget">

            <div class="panel-heading">
                <p><strong>Visualizar Estagio</strong> <br><i class="fas fa-home green"></i> <a th:href="@{/Estagio/list}">Estagio</a> > <a th:href="@{/Estagio/show}">Visualizar</a></p>

            </div>
            <div class="panel-body">
                <form class="form-horizontal" th:object="${estagio}" th:action="@{/Estagio/save}" method="POST" style="margin: 10px">
                    <div class="form-group">
                        <fieldset>
                            <div class="form-group row">
                                <div class="col-md-12" th:classappend="${#fields.hasErrors('vaga')}? 'has-error'">
                                    <label>vaga</label>
                                    <input type="text" class="form-control input-sm" readOnly="readonly" th:field="*{vaga}" autofocus="autofocus" placeholder="Informe o vaga" maxlength="250"/>
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="col-md-12" th:classappend="${#fields.hasErrors('dataInicio')}? 'has-error'">
                                    <label>Data Início</label>
                                    <input type="text" class="form-control input-sm" th:field="*{dataInicio}" autofocus="autofocus" placeholder="Informe o vaga" maxlength="250"/>
                                </div>
                            </div>

                            <div class="form-group row">
                                <div class="col-md-12" th:classappend="${#fields.hasErrors('dataInicio')}? 'has-error'">
                                    <label>data Fim</label>
                                    <input type="text" class="form-control input-sm" th:field="*{dataInicio}" autofocus="autofocus" placeholder="Informe o vaga" maxlength="250"/>
                                </div>
                            </div>


                            <div class="form-group row">
                                <div class="col-md-12" th:classappend="${#fields.hasErrors('alunos')}? 'has-error'">
                                    <label>Aluno</label>
                                    <select class="form-control" id="alunos" name="alunos">
                                        <option th:each="aluno : ${alunos}"
                                                th:selected="${estagio.alunos.contains(aluno)}"
                                                th:value="${{aluno.id}}"
                                                th:text="${aluno.nome}">Part name</option>
                                    </select>
                                </div>
                            </div>

                            <div class="form-group row">
                                <div class="col-md-12" th:classappend="${#fields.hasErrors('supervisores')}? 'has-error'">
                                    <label>Supervisor</label>
                                    <select class="form-control" id="supervisores" name="supervisores" >
                                        <option th:each="supervisor : ${supervisores}"
                                                th:selected="${estagio.supervisores.contains(supervisor)}"
                                                th:value="${{supervisor.id}}"
                                                th:text="${supervisor.nome}">Part name</option>
                                    </select>
                                </div>
                            </div>

                        </fieldset>
                    </div>
                    <div class="form-group row">
                        <a th:href="@{/Estagio/list}" class="btn btn-sm btn-info">Retornar</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <!-- /CONTENT -->
</div>

<div th:include="/_template/footer :: footer"></div>
</body>
</html>
